<% include ../partials/header %>

	<div class="">
	    <div class="col s12">
	        <a href="events/add" class="btn btn-success btn-lg"> Add a new event</a>
	    </div>
	</div>
<br>


<% include ../partials/footer %>
